

*{
margin:0;
padding:0;
}
.header{
height:100vh;


}
.navbar-style{
box-shadow:5px 10px  #efefef;
text-transform:uppercase;
font-color:#fff;
font-weight:100px;
}



.icon-bar{
background:darkorange;
}
.li a{
font-color:#333;
}
.hd{
margin-top:120px;
font-size:50px;


}
.p-text{
font-size:40px;
margin:20px  0 ;
color:darkorange;
}
.container-fluid{
background:url("pic19.jpg");
size:1000px;
}
a.btn{
margin:30px 10px;
width:150px;
padding:10px;
border-radius:20px;
}

a.btn-first{
background-color:#000080;
color:#fff;
}
a.btn:hover{
background:#000000;
border:none;
color:#fff;
box-shadow:5px 5px 10px #999;
transition:.3sec;
}

.section-title{
  position: relative;
  font-size:50px;
  color: #000080;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin-top:30px;
  top: 5rem;
  background-color: var(--first-color);
}
.section{
  padding-top:5rem;
  padding-bottom: 3rem;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);

}
.col-sm-8{
width:500px;

}
.about__container{

font-size:20px;

}

.about__subtitle{
  display: grid;
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: left;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}
.about_subtitle.about_text{
font-color: #fefcff;

}




.skills__container{
  row-gap: 3rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);

}
.skills__data{
margin-top:3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
font-size:30px;
font-color:#fff;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000080;
  height: .50rem;
  border-radius: 1rem;
  z-index: var(--z-back);
}
.skills_percentage{

font-color:#000080;
}
.skills__html{
  width: 95%;
}
.skills__css{
  width: 58%;
}
.skills__js{
  width: 65%;
}
.skills__ux{
  width: 55%;
}
.skills__img{
  border-radius: .5rem;
}


.form-group{
font-size:25px;
font-weight:100px;
}
 .btn-default{
margin-top:8px;
width:200px;
padding:30px;
border-radius:20px;

}